<h1><%- title %></h1>
<%- messages() %>
    <h2>Hello There, Welome!</h2>
    <div class="management">
        <a href="/account/update">Update Account Information</a>
        <a href="/account/update-password">Change Password</a>
    </div>