<div class="loginWrapper">
    <h1><%- title %></h1>
    <form class="form-action" action="">
        <label for="email">Email:</label>
        <input type="email" placeholder="enter your email" name="email">
        <label for="password">Password:</label>
        <input type="password" placeholder="enter your password" name="password">
        <input type="submit" value="Login">
        <p>Don't have an account? <a href="/account/register">Sign Up Now!</a></p>
    </form>
</div>