#amortize {
    display: block;
    width: 100px;
    height: 30px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

#term-form {
    width: fit-content;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
}

#calculate {
    cursor: pointer;
}

.accountTab {
    display: flex;
    gap: 5px;
    border: 1px solid black;
    justify-content: space-around;

    p {
        padding: 0;
    }
}