<h1><%- title %></h1>
<div class="management">
    <%- messages()%>
        <a href="/inv/add-classification">Add a classification</a>
        <a href="/inv/add-inventory">Add to inventory</a>
</div>
<h2>Manage Inventory</h2>
<div>
    <%- classificationSelect %>
        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
        <script src="../../js/inventory.js"></script>
</div>