<h1><%- title %></h1>
<%- messages()%>
    <div class="management">
        <a href="/inv/add-classification">Add a classification</a>
        <a href="/inv/add-inventory">Add to inventory</a>
    </div>